<!DOCTYPE html>
<html>
    {% block head %}    
    <head>
        <meta charset="UTF-8" />
        {% block title %}<title>Welcome!</title>{% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}"> 
            <link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet'>
        {% endblock %}
    </head>
    {% endblock %}
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
