{# src/Firmas/FirmaBundle/Resources/views/Index/index.html.twig #}
{% extends 'FirmasFirmaBundle::base.html.twig' %}

{% block body -%}
 {{ parent() }}

{% block descripcion %}
<div class="row-fluid text-center">
	<div class="row-fluid text-center sombra">
 		<h1> Ruta 33 la Muerte</h1>
 	</div>

	 <div class="row-fluid text-center">
	 	{% if Mensaje is defined %}
			     <div class="text-left span6 offset4">
					{{ Mensaje | raw}}
					<a href="{{ path('FirmasFirmaBundle_homepage') }}" class="link text-center">Volver al Formulario</a>
			 	</div>
		{% else %}
			<div class="alert centrado cuarenta text-left">
				<span class="label label-important">Important</span>
				<span>A traves de la presente se solicita a las autoridades gubernamentales inmediata intervención a dar respuesta ante la inaceptable situación de permanente riesgos a los usuarios de la Ruta Nacional 33.</span>
			</div>
		{% endif %}
	 </div>
</div>
{% endblock %}

{% block form %}  
		{% if( formulario_firma is defined) %}
		<div class="row-fluid text-center formulario">
			<form class="form-horizontal" action="{{ path('FirmasFirmaBundle_save') }}"	method="post" {{ form_enctype(formulario_firma) }} novalidate>
		  <fieldset>
			<table class="table table-bordered table-striped centrado cuarenta">
				
			   <div clas="control-group controls controls-row">
				<tr>
				      <div class="controls-row">
				      	<td>{{ form_widget(formulario_firma.nombre, { 'attr': {'placeholder': 'Nombre Completo..'} } ) }}</td>
				      	<td><span class="text-error">Nombre Completo</span></td>
				      </div>
				</tr>

				<tr>
				      <div class=" controls-row">
				      	<td>{{ form_widget(formulario_firma.dni, { 'attr': {'placeholder': 'Dni (Número)'} } ) }}</td>
				      	<td><span class="text-error">Sólo Números (Ej. 32798765)</span></td>
				      </div>
				</tr>

				<tr>
				     <div class="controls-row"> 
				     	<td>{{ form_widget(formulario_firma.ciudad) }}</td>
				     	<td><span class="text-error">Si no se encuentra en la lista, seleccione "Otras"</span></td>
				     </div>
				</tr>

				<tr>    
					<td colspan="2">{{ form_widget(formulario_firma.enviar, {'attr': {'class': 'btn btn-primary'} }) }}</td>
				</tr>
			  </div><!-- control-group -->
			  <tr>
			  	<td colspan="2" class="tderecha"><a href="https://www.facebook.com/groups/528625330508783/" target="_blank">Participa de nuestro Grupo en FACEBOOK</a></td>
			  </tr>

			</table>
		</fieldset>
				{{ form_rest(formulario_firma) }}
			</form>
		</div>
		{% endif %}
{% endblock %}<!--form-->

<!--body-->{% endblock %}
