{# src/Firmas/AdminBundle/Resources/views/base.html.twig #}
{% extends '::base.html.twig' %}

{% block body -%}

	{% block header %}
		<div class="navbar">
      <div class="container">
        <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

      <div class="nav-collapse collapse navbar-responsive-collapse">
      	<div class="btn-group pull-left">
            <button type="button" class="btn btn-success navbar-btn dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-user"> Administradoras</span>
              <span class="caret"></span>
            </button>

            <ul class="dropdown-menu">
              <!-- dropdown menu links -->
              <li><a href="{{ path('FirmasAdminBundle_Admin') }}">Inicio</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Listado</li>
              <li class="divider"></li>
              <li><a class="rojo" href="{{ path('FirmasAdminBundle_lista_sin_completar') }}">Ciudad Sin Completar</a></li>
              <li><a href="{{ path('FirmasAdminBundle_lista_otras') }}">"Otras"</a></li>
              <li><a href="{{ path('FirmasAdminBundle_lista_completa') }}">Listado Completo</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Acciones</li>
              <li class="divider"></li>
              <li><a href="{{ path('FirmasAdminBundle_search_admin') }}">Buscar/Actualizar Usuario</a></li>
              <li class="disabled">
              <a href="#">Agregar Ciudad</a>
              </li> 
            </ul>
          </div>

          <div class="btn-group pull-right">
            <button type="button" class="btn btn-primary navbar-btn dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-th-large"> Menú</span>
              <span class="caret"></span>
            </button>

            <ul class="dropdown-menu">
              <!-- dropdown menu links -->
                <li><a href="{{ path('FirmasFirmaBundle_homepage') }}">Firmar</a></li>
                <li><a href="{{ path('FirmasFirmaBundle_search') }}">Firmantes</a></li>
                <li class="divider"></li>
                <li><a href="{{ path('FirmasFirmaBundle_estadisticas') }}">Estadísticas</a></li>
            </ul>
          </div>
        </div><!--collapse-->
      </div><!--container-->
    </div>
	{% endblock %}

  {% if user_name is defined %}
		{% block descripcion %}
			<div class="text-center">
				<h2 class="saludo">Hola {{ user_name }} !</h2>
			</div>
		{% endblock %}
  {% endif %}

<!--body-->{% endblock %}